.forget-form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 32px;
}

.reset{
    position: absolute;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    padding: 0 3rem;
    font-family: inherit;
    font-size: 1.25rem;
    border: 0;
    border-radius: 0.5rem;
    background: transparent;
    color: #f7f7f7;
    cursor: pointer;
    outline: none;
    transition-property:background, bpx-shadow ;
    transition-duration: 0.35s;
}

.reset.primary{
    background: #5d2fdf;
}

.reset:hover{
    background: #5526c5;
}

.button2{
    background-color: #b3c4dd;
    margin-top: 2rem;
    padding: 0.3rem;
    border-radius: 5rem;
    transform: scale(1);
    transition: 0.2s;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    cursor: pointer;
    width: 70%;
    outline: none;
    border: none;
    color: #f7f7f7;
}

.button2:hover{
    -webkit-box-shadow:2px 4px 1px rgba(0,0,0,0.47);
    box-shadow: 1px 2px 5px .5px var(--text);
}

.button2:active{
    transform: scale(0.95);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}

.danger{
    color: #6a11cb;
    font-family: Inconsolata;
    font-weight: 500;
    font-size: 16px;
}